.container {
    padding: 10px;
    border: 3px solid rgb(224, 173, 173);
    border-radius: 10px;
    margin: 0.5em 0;

    h3 {
        margin: 0.25em 0;
        font-size: 1.4em;
    }

    h4 {
        margin: 0.5em 0;
        font-size: 1.1em;
    }
}

