:root {
    font-size: 14pt;
}

html, body {
    color: #555;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: #999;
}

a {
    color: #555;
    font-style: italic;
}

deckgo-highlight-code {
    font-size: 11pt;
    box-shadow: #ccc 0px 2px 8px;
    --deckgo-highlight-code-token-comment: #a0b1b1;
}

code {
    background-color: #fdf6e3;
    color: #657b83;
    border-radius: 5px;
    padding: 1px 3px;
}

deckgo-highlight-code {
    code {
        font-size: 0.8em;
    }
}
