@import "fonts.scss";

$sans: "Outfit", sans-serif;

.mainContainer {
    max-width: 80ch;
    margin: 0 auto;
    padding: 0 20px;

    font-family: $sans;
    font-weight: 200;

    h1, h2, h3 {
        font-weight: 700;
    }
}

li {
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    padding: 2px 6px;
}

