@import "fonts.scss";

$sans: "Outfit", sans-serif;
$header-prefix-width: 50px;

.mainContainer {
    max-width: 80ch;
    margin: 0 auto;
    padding: 0 20px;

    font-family: $sans;
    font-weight: 200;

    h1, h2 {
        font-weight: 700;
    }
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 2.4em;
    margin: 0.5em 0;
}

h2 {
    font-size: 1.8em;
    margin: 0.5em 0;
    display: inline-block;
}

h2::before {
    content: "#";
    margin: -$header-prefix-width;
    width: 2 * $header-prefix-width;
    color: #ccc;
    display: inline-block;
}

h3, h4 { 
    margin: 0.5em 0;
}

h3::before {
    content: "##";
    margin: -$header-prefix-width;
    width: 2 * $header-prefix-width;
    color: #ccc;
    display: inline-block;
}

ol, ul {
    margin: 0;
}

h3 {
    font-size: 1.4em;
    font-weight: 700;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
}

li {
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

td, th {
    border: 1px solid #ccc;
    padding: 4px 6px;
}

.reaction {
    font-size: 1.1em;
    margin-right: 4px;
}

.nomech {
    font-style: 1.1em;
    margin-right: 4px;
}
