.span {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1px;
    font-size: 0.8em;
    color: rgb(206, 206, 206);
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}